@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;900&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Fraunces", sans-serif;
}

::-moz-selection {
  background-color: #19536b;
  color: white;
}

::selection {
  background-color: #19536b;
  color: white;
}

main header {
  width: 100%;
  height: 100vh;
  position: relative;
}

main header .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

main header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
}

main header nav .brand-logo {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-family: "Barlow", sans-serif;
  text-transform: lowercase;
  letter-spacing: 1px;
}

main header nav .ham-menu {
  display: none;
}

@media screen and (max-width: 599px) {
  main header nav .ham-menu {
    display: block;
  }
}

main header nav .nav {
  position: relative;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 599px) {
  main header nav .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  main header nav .nav.show {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 85%;
    bottom: -395%;
    background-color: white;
    color: #19536b;
    -webkit-animation: slideDown 0.5s ease;
            animation: slideDown 0.5s ease;
  }
  main header nav .nav.hide {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 85%;
    bottom: -395%;
    background-color: white;
    color: #19536b;
    animation: slideUp 0.5s ease reverse forwards;
  }
  main header nav .nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    right: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    border-bottom: 60px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
}

main header nav .nav li {
  margin-left: 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 599px) {
  main header nav .nav li {
    margin: 15px 0;
  }
}

main header nav .nav li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 599px) {
  main header nav .nav li a {
    color: #19536b;
  }
}

main header nav .nav li a:hover {
  color: #19536b;
}

main header nav .nav li a.contact-btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: white;
  color: #23303e;
  border-radius: 50px;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media screen and (max-width: 599px) {
  main header nav .nav li a.contact-btn {
    background-color: #fad400;
    color: #19536b;
  }
}

main header nav .nav li a.contact-btn:hover {
  background-color: #19536b;
  color: white;
}

main header .hero {
  display: block;
  width: 50%;
  margin: 65px auto 0;
}

@media screen and (max-width: 599px) {
  main header .hero {
    width: 80%;
  }
}

main header .hero h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

@media screen and (max-width: 599px) {
  main header .hero h1 {
    font-size: 2.2rem;
  }
}

main .about {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 599px) {
  main .about {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

main .about-card {
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
}

@media screen and (max-width: 599px) {
  main .about-card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    padding: 0;
  }
  main .about-card.egg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .about-card.first {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

main .about-card.bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .about-card.bottom.photo h3 {
  color: #19536b;
}

main .about-card.bottom.photo p {
  width: 50%;
  color: #19536b;
}

@media screen and (max-width: 599px) {
  main .about-card.bottom.photo p {
    width: 80%;
  }
}

main .about-card.bottom h3,
main .about-card.bottom p {
  text-align: center;
  padding: 0;
}

main .about-card.bottom h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #25564b;
}

main .about-card.bottom p {
  width: 50%;
  margin-bottom: 30px;
  color: #25564b;
}

@media screen and (max-width: 599px) {
  main .about-card.bottom p {
    width: 80%;
  }
}

main .about-card h3 {
  font-size: 2rem;
  color: #23303e;
  margin-bottom: 10px;
  padding-right: 80px;
  width: 70%;
}

@media screen and (max-width: 599px) {
  main .about-card h3 {
    width: 80%;
    text-align: center;
    padding: 0;
  }
}

main .about-card h3.standout {
  padding-right: 40px;
}

@media screen and (max-width: 599px) {
  main .about-card h3.standout {
    padding: 0;
  }
}

main .about-card p {
  width: 68%;
  font-size: 0.9rem;
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding-right: 40px;
  line-height: 1.5;
}

@media screen and (max-width: 599px) {
  main .about-card p {
    width: 80%;
    text-align: center;
    padding: 0;
  }
}

main .about-card .link {
  font-size: 0.8rem;
  position: relative;
  margin-top: 15px;
  color: #23303e;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 599px) {
  main .about-card .link {
    margin-top: 25px;
  }
}

main .about-card .link.red::after {
  background-color: #fe7867;
}

main .about-card .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  border-radius: 50px;
  background-color: #fad400;
  opacity: 0.5;
  z-index: -1;
}

main .about-card .link:hover::after {
  opacity: 1;
}

main .about-card img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .about-card img.bg-image {
  z-index: -1;
}

main .testimonial {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 599px) {
  main .testimonial {
    height: 100%;
    padding: 30px;
  }
}

main .testimonial h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #5a636c;
  margin-bottom: 60px;
}

@media screen and (max-width: 599px) {
  main .testimonial h3 {
    text-align: center;
    font-size: 1.15rem;
  }
}

main .testimonial-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 599px) {
  main .testimonial-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .testimonial-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

@media screen and (max-width: 599px) {
  main .testimonial-cards .card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 45px;
  }
}

main .testimonial-cards .card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 25px;
}

main .testimonial-cards .card p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  color: #5a636c;
}

main .testimonial-cards .card footer {
  text-align: center;
  margin-top: 30px;
}

main .testimonial-cards .card footer small {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  font-weight: 600;
}

main .image-gallery {
  position: relative;
  width: 100%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 599px) {
  main .image-gallery {
    height: 100%;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: minmax(30vh, 35vh);
  }
}

main .image-gallery img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 599px) {
  main .image-gallery img {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .footer {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #458c7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 599px) {
  main .footer {
    height: 38vh;
  }
}

main .footer h2 {
  font-size: 1.8rem;
  font-weight: 900;
  color: #25564b;
  font-family: "Barlow", sans-serif;
}

main .footer .nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .footer .nav li {
  margin: 0 25px;
}

main .footer .nav li a {
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: #25564b;
  font-weight: 600;
}

main .footer .nav li a:hover {
  color: white;
}

main .footer .media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .footer .media li {
  margin: 0 10px;
}

main .footer .media li a {
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: #25564b;
  font-weight: 600;
  font-size: 1.2rem;
}

main .footer .media li a:hover {
  color: white;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
