// Primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate-cyan: hsl(168, 34%, 41%);

// Neutral
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(206, 30%, 14%);
$White: hsl(0, 0%, 100%);

// Font weight
$w-600: 600;
$w-700: 700;
$w-900: 900;

// Media query
// mobile device
@mixin mobile {
  @media screen and (max-width: 599px) {
    @content;
  }
}

//tablet device
@mixin tablet {
  @media screen and (min-width: 600px) and (max-width: 900px) {
    @content;
  }
}

// Fonts import
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;900&family=Fraunces:wght@700;900&display=swap");

$main-font: "Fraunces", sans-serif;
$sub-font: "Barlow", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $main-font;
}

::selection {
  background-color: $Dark-blue;
  color: $White;
}

main {
  // The header styling here
  header {
    width: 100%;
    height: 100vh;
    position: relative;

    .background-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px;
      // border: 1px solid;

      .brand-logo {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: $w-700;
        text-decoration: none;
        color: $White;
        font-family: $sub-font;
        text-transform: lowercase;
        letter-spacing: 1px;
      }

      .ham-menu {
        display: none;

        @include mobile {
          display: block;
        }
      }

      .nav {
        position: relative;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 0;
        flex-wrap: wrap;

        @include mobile {
          &.show {
            position: absolute;
            flex-direction: column;
            order: 3;
            width: 85%;
            bottom: -395%;
            background-color: $White;
            color: $Dark-blue;
            animation: slideDown 0.5s ease;
          }
          &.hide {
            // display: none;
            position: absolute;
            flex-direction: column;
            order: 3;
            width: 85%;
            bottom: -395%;
            background-color: $White;
            color: $Dark-blue;
            animation: slideUp 0.5s ease reverse forwards;
          }

          &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: -20px;
            right: 0;
            transform: rotate(-90deg);
            // border: 1px solid;
            border-bottom: 60px solid $White;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
          }
        }

        li {
          margin-left: 25px;
          font-family: $sub-font;
          font-weight: $w-600;

          @include mobile {
            margin: 15px 0;
          }

          a {
            text-decoration: none;
            color: $White;

            @include mobile {
              color: $Dark-blue;
            }

            &:hover {
              color: $Dark-blue;
            }

            &.contact-btn {
              display: inline-block;
              padding: 15px 20px;
              background-color: $White;
              color: $Very-dark-desaturated-blue;
              border-radius: 50px;
              font-family: $main-font;
              text-transform: uppercase;
              font-size: 0.8rem;

              @include mobile {
                background-color: $yellow;
                color: $Dark-blue;
              }

              &:hover {
                background-color: $Dark-blue;
                color: $White;
              }
            }
          }
        }
      }
    }

    .hero {
      display: block;
      width: 50%;
      margin: 65px auto 0;
      // border: 1px solid;

      @include mobile {
        width: 80%;
      }

      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $White;
        text-align: center;
        letter-spacing: 3px;

        @include mobile {
          font-size: 2.2rem;
        }
      }
    }
  }

  // The about styling here
  .about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      // display: flex;
      // align-items: stretch;
      // flex-direction: column;
      // justify-content: center;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &-card {
      height: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      // padding: 60px;
      padding-left: 80px;

      @include mobile {
        align-items: center;
        justify-content: center;
        height: 400px;
        padding: 0;
        &.egg {
          grid-row: 1/2;
        }
        &.first {
          grid-row: 2/3;
        }
      }

      &.bottom {
        align-items: center;
        justify-content: flex-end;

        &.photo {
          h3 {
            color: $Dark-blue;
          }
          p {
            width: 50%;
            color: $Dark-blue;

            @include mobile {
              width: 80%;
            }
          }
        }

        h3,
        p {
          text-align: center;
          padding: 0;
          // border: 1px solid ;
        }
        h3 {
          margin-bottom: 15px;
          font-size: 1.5rem;
          color: $Dark-desaturated-cyan;
        }
        p {
          width: 50%;
          margin-bottom: 30px;
          color: $Dark-desaturated-cyan;

          @include mobile {
            width: 80%;
          }
        }
      }

      h3 {
        font-size: 2rem;
        color: $Very-dark-desaturated-blue;
        margin-bottom: 10px;
        padding-right: 80px;
        width: 70%;

        @include mobile {
          width: 80%;
          text-align: center;
          padding: 0;
        }

        &.standout {
          padding-right: 40px;

          @include mobile {
            padding: 0;
          }
        }
      }
      p {
        width: 68%;
        font-size: 0.9rem;
        color: $Very-dark-grayish-blue;
        font-family: $sub-font;
        font-weight: $w-600;
        padding-right: 40px;
        // border: 1px solid;
        line-height: 1.5;

        @include mobile {
          width: 80%;
          text-align: center;
          padding: 0;
        }
      }
      .link {
        font-size: 0.8rem;
        position: relative;
        margin-top: 15px;
        color: $Very-dark-desaturated-blue;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 3;
        transition: 0.4s;

        @include mobile {
          margin-top: 25px;
        }

        &.red::after {
          background-color: $soft-red;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 7px;
          border-radius: 50px;
          background-color: $yellow;
          opacity: 0.5;
          z-index: -1;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.bg-image {
          z-index: -1;
        }
      }
    }
  }

  // The testimonial section here
  .testimonial {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 50px 0 30px;

    @include mobile {
      height: 100%;
      padding: 30px;
    }

    h3 {
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: $Very-dark-grayish-blue;
      margin-bottom: 60px;

      @include mobile{
        text-align: center;
        font-size: 1.15rem;
      }
    }

    &-cards {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @include mobile {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;

        @include mobile {
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 45px;
          // border: 1px solid ;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-bottom: 25px;
        }
        p {
          text-align: center;
          font-family: $sub-font;
          font-weight: $w-600;
          line-height: 1.4;
          color: $Very-dark-grayish-blue;
        }

        footer {
          text-align: center;
          margin-top: 30px;

          small {
            font-family: $sub-font;
            color: $Very-dark-grayish-blue;
            font-weight: $w-600;
          }
        }
      }
    }
  }

  // Image gallery section styling
  .image-gallery {
    position: relative;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include mobile{
      height: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-rows: minmax(30vh, 35vh);
    }

    img {
      width: 100%;
      height: 100%;

      @include mobile{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      object-fit: cover;
    }
    }
  }

  // The footer styling starts here
  .footer {
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: $Dark-moderate-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include mobile{
        height: 38vh;
      }


    h2 {
      font-size: 1.8rem;
      font-weight: $w-900;
      color: $Dark-desaturated-cyan;
      font-family: $sub-font;

      
    }

    .nav {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        margin: 0 25px;

        
        a {
          color: $White;
          text-decoration: none;
          font-family: $sub-font;
          color: $Dark-desaturated-cyan;
          font-weight: $w-600;

          &:hover {
            color: $White;
          }
        }
      }
    }

    .media {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        margin: 0 10px;

        a {
          color: $White;
          text-decoration: none;
          font-family: $sub-font;
          color: $Dark-desaturated-cyan;
          font-weight: $w-600;
          font-size: 1.2rem;

          &:hover {
            color: $White;
          }
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(-300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
